main {
    .artwork {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;

        .comments {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 2em;
            width: 100%;
            margin-top: 2em;
            padding: 1em;
            border-radius: 1em;
            background-color: var(--offprimary);
            box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
    
            form {
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top: 1em;

                label {
                    display: none;
                }
                
                .add-comment {
                    width: 80%;
                    border-width: 0;
                    border-bottom-width: .1em;
                    border-color: var(--select);
                    background-color: transparent;
                    color: var(--text);
                    font-size: 1em;
                }
    
                .submit-comment {
                    width: 5em;
                    border: none;
                    border-radius: .5em;
                    border-bottom-left-radius: 0;
                    background-color: var(--select);
                    color: var(--text);
                }
            }
    
            .comment-list {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: fit-content;
                padding: 0;
                list-style: none;
    
                li {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
    
                    img {
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        width: 4em;
                        height: 4em;
                        border-radius: 50%;
                    }
    
                    h3 {
                        margin: .5em 0;
                    }
    
                    p {
                        margin-top: .5em;
                    }
                }
            }
        }

        .work-detail {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            padding: 1em;
            border-radius: 1em;
            background-color: var(--offprimary);
            box-shadow: 0 2px 3px rgb(0 0 0 / 30%);

            h1, h2 {
                margin-bottom: 0;
            }
            
            .work-img {
                width: 100%;
                max-height: 30em;
                aspect-ratio: 3/4;
                border-radius: .75em;
                object-fit: cover;
            }

            .center {
                display: flex;
                flex-direction: column;
                width: 100%;

                .work-tags {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .5em;
                        width: fit-content;
                        padding: 0;
                        list-style: none;

                        li {
                            display: block;
                            padding: .1em .3em;
                            border-radius: .3em;
                            background-color: var(--orange);
                        }
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .artist {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 60%;
                    margin-bottom: 1em;
                    
                    img {
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        width: 30%;
                        border-radius: 50%;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 80%;

                        hr {
                            width: 8em;
                            margin: 0;
                            color: var(--select);
                        }
                        
                        .popular-artist-works {
                            font-size: .75em;
                        }
                    }
                }

                .buy-button, button {
                    width: 100%;
                    height: 2em;
                    padding: 0;
                    border: none;
                    border-radius: .5em;
                    background-color: var(--orange);
                    color: var(--text);
                }

                .buy-button {
                    button {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (width >= 50em) {    
    main {
        .artwork {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3em;

            .comments {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 2em;
                width: 60%;
                margin-top: 2em;
                padding: 1em;
                border-radius: 1em;
                background-color: var(--offprimary);
                box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
        
                form {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding-top: 1em;
                    
                    .add-comment {
                        width: 80%;
                        border-width: 0;
                        border-bottom-width: .1em;
                        border-color: var(--select);
                        background-color: transparent;
                        color: var(--text);
                        font-size: 1.5em;
                    }
        
                    .submit-comment {
                        width: 5em;
                        border: none;
                        border-radius: .5em;
                        border-bottom-left-radius: 0;
                        background-color: var(--select);
                        color: var(--text);
                        font-size: 1em;
                    }
                }
        
                .comment-list {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    width: fit-content;
                    padding: 0;
                    list-style: none;
        
                    li {
                        display: flex;
                        flex-direction: row;
                        gap: 1em;
        
                        img {
                            object-fit: cover;
                            aspect-ratio: 1/1;
                            width: 4em;
                            height: 4em;
                            border-radius: 50%;
                        }
        
                        h3 {
                            margin: .5em 0;
                        }
        
                        p {
                            margin-top: .5em;
                        }
                    }
                }
            }
    
            .work-detail {
                flex-direction: row;
                gap: 2em;
                width: 80%;
    
                .work-img {
                    width: 40%;
                    height:100%;
                }
    
                .center {
                    width: 40%;
    
                    .work-tags {
                        ul {    
                            li {
                                padding: .2em .5em;
                                border-radius: .5em;
                            }
                        }
                    }
                }
    
                .right {
                    width: 20%;
    
                    .artist {
                        flex-direction: column;
                        
                        img {
                            width: 70%;
                        }

                        div {
                            align-items: center;
                            gap: .5em;
                        }
                    }
    
                    .buy-button, button {
                        display: block;
                        width: 100%;
                        height: 2em;
                        padding: 0;
                        border: none;
                        border-radius: .5em;
                        background-color: var(--orange);
                        color: var(--text);
                    }
    
                    .buy-button {
                        button {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}